In [1]:
import pandas as pd
from sqlalchemy import create_engine
import requests
import re
from bs4 import BeautifulSoup

1 - Acquisition

    DataBase Conection

In [2]:
def db_connection(db_path):
    print(f'Connecting to data base {db_path}')
    print("...")
    print("...")
    connection = create_engine(f'sqlite:////{db_path}')
    return connection

In [3]:
def sql_query_to_df(table, data_base):
    
    select_all_query = pd.read_sql_query(f'SELECT * FROM {table}', data_base)
    return select_all_query

    DataBase tables to DataFrames

In [4]:
def tables_to_df(arguments):  # Exec number 1
    db_path = arguments
    data_base = db_connection(db_path)
    table_names = data_base.table_names()
    print(f"Obtaining tables from data base provided")
    print("...")
    print("...")

    df_list = []

    for table in table_names:
        sql_query = sql_query_to_df(table, data_base)
        print(f"Converting '{table}' table into data frame")
        df_list.append(sql_query)

    db_df = pd.DataFrame(df_list[0])
    for df in df_list[1:]:
        db_df = db_df.merge(df, left_on='uuid', right_on='uuid')
    print("...")
    print("...")
    print("Merging all tables...")
    print("...")
    print("...")
    return db_df

In [5]:
db_path = 'home/david/Documents/ih_datamadpt0420_project_m1/data/raw/raw_data_project_m1.db'
a = tables_to_df(db_path)

Connecting to data base home/david/Documents/ih_datamadpt0420_project_m1/data/raw/raw_data_project_m1.db
...
...
Obtaining tables from data base provided
...
...
Converting 'career_info' table into data frame
Converting 'country_info' table into data frame
Converting 'personal_info' table into data frame
Converting 'poll_info' table into data frame
...
...
Merging all tables...
...
...

In [6]:
a.columns

Index(['uuid', 'dem_education_level', 'dem_full_time_job',
       'normalized_job_code', 'country_code', 'rural', 'age', 'gender',
       'dem_has_children', 'age_group',
       'question_bbi_2016wave4_basicincome_awareness',
       'question_bbi_2016wave4_basicincome_vote',
       'question_bbi_2016wave4_basicincome_effect',
       'question_bbi_2016wave4_basicincome_argumentsfor',
       'question_bbi_2016wave4_basicincome_argumentsagainst'],
      dtype='object')

    Get job titles from API

In [7]:
def get_job_titles(url, json_acum=[]):
    
    print(f'Getting job titles from API {url}')
    response = requests.get(url)
    json = response.json()
    json_acum.append(json[:-1])

    root = 'http://api.dataatwork.org/v1'
   
    for elem in json[-1]['links']:
        if elem['rel'] == 'next':
            link = elem['href']
            next_link = f'{root}{link}'
            get_job_titles(next_link, json_acum)
        
    return json_acum

In [8]:
def job_titles_to_DataFrame():
    url = 'http://api.dataatwork.org/v1/jobs?limit=500'
    json = get_job_titles(url)
    
    jobs_df = []
    for result in json:
        jobs_df.extend(result)
        
    jobs_df = pd.DataFrame(jobs_df)
    jobs_df.rename(columns={'uuid': 'normalized_job_code'}, inplace=True)
    
    return jobs_df

    Country names from Web Scrapping

In [9]:
def get_country_names():
    url = 'https://www.iban.com/country-codes'
    html = requests.get(url).content
    soup = BeautifulSoup(html, 'lxml')
    items = soup.find_all('tr')

    a = str(items).split('<td>')

    paises = []
    for elem in a[1:]:
        match = re.search('(\w+\s\w+)', elem)
        if match:
            paises.append(re.findall('(\w+\s\w+)', elem))
        else:
            paises.append(re.findall('\w+', elem))

    countries = paises[0::4]
    codes = paises[1::4]
    
    country_codes = []
    for index, elem in enumerate(countries):
        country_codes.append([elem[0], codes[index][0]])
    country_codes = pd.DataFrame(country_codes, columns=['Country', 'country_code'])
    country = country_codes[['Country']].drop_duplicates()
    code = country_codes[['country_code']].drop_duplicates()
    country_codes = pd.merge(country, code, left_index=True, right_index=True)
    
    return country_codes

In [10]:
arguments = 'home/david/Documents/ih_datamadpt0420_project_m1/data/raw/raw_data_project_m1.db'

In [11]:
def merge_data(arguments):
    db_tables = tables_to_df(arguments)
    job_titles = job_titles_to_DataFrame()
    country_names = get_country_names()
    
    print("Creating final DataFrame")
    main_df = pd.merge(db_tables, job_titles, on='normalized_job_code', how='left')
    print("...")
    print("...")
    print("Adding Job titles to final DataFrame")
    print("...")
    print("...")
    main_df2 = pd.merge(main_df, country_names, on='country_code', how='left')
    print("...")
    print("...")
    print("Adding country names to final DataFrame")
    print("...")
    print("...")
    #db_df.merge()
    
    return main_df2

In [12]:
main_df = merge_data(arguments)

Connecting to data base home/david/Documents/ih_datamadpt0420_project_m1/data/raw/raw_data_project_m1.db
...
...
Obtaining tables from data base provided
...
...
Converting 'career_info' table into data frame
Converting 'country_info' table into data frame
Converting 'personal_info' table into data frame
Converting 'poll_info' table into data frame
...
...
Merging all tables...
...
...
Getting job titles from API http://api.dataatwork.org/v1/jobs?limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=1000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=1500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=2000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=2500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=3000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=3500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=4000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=4500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=5000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=5500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=6000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=6500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=7000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=7500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=8000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=8500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=9000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=9500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=10000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=10500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=11000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=11500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=12000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=12500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=13000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=13500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=14000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=14500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=15000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=15500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=16000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=16500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=17000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=17500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=18000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=18500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=19000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=19500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=20000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=20500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=21000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=21500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=22000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=22500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=23000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=23500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=24000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=24500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=25000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=25500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=26000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=26500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=27000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=27500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=28000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=28500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=29000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=29500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=30000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=30500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=31000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=31500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=32000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=32500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=33000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=33500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=34000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=34500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=35000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=35500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=36000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=36500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=37000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=37500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=38000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=38500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=39000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=39500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=40000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=40500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=41000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=41500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=42000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=42500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=43000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=43500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=44000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=44500&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=45000&limit=500
Getting job titles from API http://api.dataatwork.org/v1/jobs?offset=45500&limit=500
Creating final DataFrame
...
...
Adding Job titles to final DataFrame
...
...
...
...
Adding country names to final DataFrame
...
...

In [13]:
main_df.columns

Index(['uuid', 'dem_education_level', 'dem_full_time_job',
       'normalized_job_code', 'country_code', 'rural', 'age', 'gender',
       'dem_has_children', 'age_group',
       'question_bbi_2016wave4_basicincome_awareness',
       'question_bbi_2016wave4_basicincome_vote',
       'question_bbi_2016wave4_basicincome_effect',
       'question_bbi_2016wave4_basicincome_argumentsfor',
       'question_bbi_2016wave4_basicincome_argumentsagainst', 'title',
       'normalized_job_title', 'parent_uuid', 'Country'],
      dtype='object')

In [31]:
main_df = main_df[[
    'dem_education_level', 'dem_full_time_job', 'rural', 'age', 'gender', 'dem_has_children', 'age_group', 
    'question_bbi_2016wave4_basicincome_awareness', 'question_bbi_2016wave4_basicincome_vote', 
    'question_bbi_2016wave4_basicincome_effect', 'question_bbi_2016wave4_basicincome_argumentsfor', 
    'question_bbi_2016wave4_basicincome_argumentsagainst', 'normalized_job_title', 'Country']]

KeyError: "['normalized_job_title', 'dem_has_children', 'question_bbi_2016wave4_basicincome_argumentsfor', 'dem_full_time_job', 'dem_education_level', 'age', 'gender', 'question_bbi_2016wave4_basicincome_effect', 'question_bbi_2016wave4_basicincome_awareness', 'rural', 'question_bbi_2016wave4_basicincome_argumentsagainst', 'age_group', 'question_bbi_2016wave4_basicincome_vote'] not in index"

In [15]:
main_df.columns = [
    'Education_level', 'Full_time_job', 'Living area', 'Age', 'Gender', 'Children', 'Age_group', 'Question_basicincome_awareness', 
    'Question_basicincome_vote', 'Question_basicincome_effect', 'Question_basicincome_argumentsfor', 'Question_basicincome_argumentsagainst', 
    'Job_title', 'Country']

In [16]:
main_df

,Education_level,Full_time_job,Living area,Age,Gender,Children,Age_group,Question_basicincome_awareness,Question_basicincome_vote,Question_basicincome_effect,Question_basicincome_argumentsfor,Question_basicincome_argumentsagainst,Job_title,Country
0,no,no,countryside,61 years old,male,NO,40_65,I know something about it,I would not vote,None of the above,None of the above,None of the above,NaN,Austria
1,high,yes,urban,57 years old,male,yES,40_65,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working,automatic data processing planner,Austria
2,None,no,city,32 years old,male,nO,26_39,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...,NaN,Austria
3,high,yes,Country,45 years old,Male,YES,40_65,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above,data coordinator,Austria
4,high,yes,city,41 years old,Fem,yES,40_65,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...,database developer,Austria
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9644,high,yes,urban,37 years old,FeMale,nO,26_39,I understand it fully,I would probably vote for it,‰Û_ spend more time with my family,It reduces bureaucracy and administrative expe...,It is impossible to finance,data warehouse developer,Slovakia
9645,high,yes,urban,53 years old,Male,yES,40_65,I have never heard of it,I would probably vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | On...,database manager,Slovakia
9646,low,no,Non-Rural,1992,male,NO,juvenile,I have heard just a little about it,I would not vote,‰Û_ spend more time with my family,It reduces anxiety about financing basic needs,None of the above,NaN,Slovakia
9647,low,yes,city,47 years old,male,yES,40_65,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,Foreigners might come to my country and take a...,data officer,Slovakia
9648,high,yes,city,51 years old,FeMale,YES,40_65,I understand it fully,I would vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | It...,data scientist,Slovakia

In [17]:
main_df.columns

Index(['Education_level', 'Full_time_job', 'Living area', 'Age', 'Gender',
       'Children', 'Age_group', 'Question_basicincome_awareness',
       'Question_basicincome_vote', 'Question_basicincome_effect',
       'Question_basicincome_argumentsfor',
       'Question_basicincome_argumentsagainst', 'Job_title', 'Country'],
      dtype='object')

In [18]:
len(main_df)

9649

In [19]:
sub_df = main_df[['Age_group','Job_title', 'Country']]
sub_df

     Age_group                          Job_title   Country
0        40_65                                NaN   Austria
1        40_65  automatic data processing planner   Austria
2        26_39                                NaN   Austria
3        40_65                   data coordinator   Austria
4        40_65                 database developer   Austria
...        ...                                ...       ...
9644     26_39           data warehouse developer  Slovakia
9645     40_65                   database manager  Slovakia
9646  juvenile                                NaN  Slovakia
9647     40_65                       data officer  Slovakia
9648     40_65                     data scientist  Slovakia

[9649 rows x 3 columns]

In [20]:
percentage = [100/len(sub_df) for e in range(len(sub_df))]
quantity = [1 for e in range(len(sub_df))]

In [21]:
sub_df['Quantity'] = quantity
sub_df['Percentage'] = percentage

/home/david/miniconda3/envs/ironhack/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/david/miniconda3/envs/ironhack/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
sub_df

,Age_group,Job_title,Country,Quantity,Percentage
0,40_65,NaN,Austria,1,0.010364
1,40_65,automatic data processing planner,Austria,1,0.010364
2,26_39,NaN,Austria,1,0.010364
3,40_65,data coordinator,Austria,1,0.010364
4,40_65,database developer,Austria,1,0.010364
...,...,...,...,...,...
9644,26_39,data warehouse developer,Slovakia,1,0.010364
9645,40_65,database manager,Slovakia,1,0.010364
9646,juvenile,NaN,Slovakia,1,0.010364
9647,40_65,data officer,Slovakia,1,0.010364
9648,40_65,data scientist,Slovakia,1,0.010364

In [23]:
sub_df = sub_df[['Country', 'Age_group', 'Job_title', 'Quantity', 'Percentage']]

In [30]:
prueba = sub_df.groupby(['Country', 'Age_group', 'Job_title']).sum().reset_index()
prueba['Age_group'].unique()

array(['14_25', '26_39', '40_65', 'juvenile'], dtype=object)

In [26]:
import pandas as pd
import plotly.express as px  # (version 4.7.0)
import plotly.graph_objects as go

import dash  # (version 1.12.0) pip install dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

app = dash.Dash(__name__)

In [28]:

# ------------------------------------------------------------------------------


fig = go.Figure(data=[go.Table(
    header=dict(values=list(prueba.columns),
                fill_color='paleturquoise',
                align=['left', 'center'],
                height=40,
               ),
    cells=dict(values=[prueba.Country, prueba.Age_group, prueba.Job_title,  prueba.Quantity, prueba.Percentage],
               fill_color='lavender',
               align=['left', 'center'],
               height=30,
              ))
])




app.layout = html.Div([
    
    html.H1("Challenge 1", style={'text-align': 'center'}),
    
    dcc.Dropdown(
        id='demo-dropdown',
        options=[
            {'label': elem, 'value': elem} for elem in prueba['Country'].unique()
        ],
        value='Spain'
    ),
    
    html.Div(id='dd-output-container'),
    
    dcc.Graph(figure=fig)

])






app.run_server(debug=True, use_reloader=False)

Dash is running on http://127.0.0.1:8050/

 Warning: This is a development server. Do not use app.run_server
 in production, use a production WSGI server like gunicorn instead.

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on