In [1]:
import pandas as pd
from sqlalchemy import create_engine
#%load_ext sql
#%config SqlMagic.autocommit = False

def conection(db_path):
    print(f'Conecting to {db_path}')
    db_connection = create_engine(f'sqlite:////{db_path}')
    
    return db_connection

In [2]:
''' 
%sql sqlite:////home/david/Documents/ih_datamadpt0420_project_m1/data/raw/raw_data_project_m1.db

%%sql tables <<

SELECT 
    name
FROM 
    sqlite_master 
WHERE 
    type ='table' AND 
    name NOT LIKE 'sqlite_%';
    
tables

'''

" \n%sql sqlite:////home/david/Documents/ih_datamadpt0420_project_m1/data/raw/raw_data_project_m1.db\n\n%%sql tables <<\n\nSELECT \n    name\nFROM \n    sqlite_master \nWHERE \n    type ='table' AND \n    name NOT LIKE 'sqlite_%';\n    \ntables\n\n"

In [3]:
def sql_query_to_df(table, data_base):
    
    select_all_query = pd.read_sql_query(f'SELECT * FROM {table}', data_base)
    return select_all_query

In [4]:
def tables_to_df(db_path):
    
    data_base = conection(db_path)
    table_names = data_base.table_names()
    
    df_list = []
 
    for table in table_names:
        sql_query = sql_query_to_df(table, data_base)
        df_list.append(sql_query)
        
    return df_list

In [10]:
db_path = 'home/david/Documents/ih_datamadpt0420_project_m1/data/raw/raw_data_project_m1.db'
list_of_DF = tables_to_df(db_path)

education_and_job = list_of_DF[0]
country = list_of_DF[1]
people = list_of_DF[2]
questionaire = list_of_DF[3]

Conecting to home/david/Documents/ih_datamadpt0420_project_m1/data/raw/raw_data_project_m1.db

In [44]:
unique_job_codes = education_and_job['normalized_job_code'].dropna().unique()